﻿@{
    ViewData["Title"] = "Home Page";
}

<header>
    <h2>GIỚI THIỆU</h2>
</header>
<section>
    <nav>
        <ul>
            <li><a href="~/trang-chu">Bản thân</a></li>
            <li><a href="~/gioi-thieu-nhom">Nhóm</a></li>
        </ul>
    </nav>

    <article>
        <table>
            <thead>
            <th>STT</th>
            <th>Mã số sinh viên</th>
            <th>Họ và tên</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>1822041002</td>
                    <td>Bui Nam Truong </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>1822040960</td>
                    <td>Le Thanh Sang</td>
                </tr>

            </tbody>
        </table>
    </article>
</section>

<footer>
    <p>Copyright &copy; Bui Nam Truong - @DateTime.Now.Year</p>
</footer>


