﻿@{
    ViewData["Title"] = "Home Page";
}


<header>

    <h2>GIỚI THIỆU</h2>
</header>

<section>
    <nav>
        <ul>
            <li><a href="~/trang-chu">Bản thân</a></li>
            <li><a href="~/gioi-thieu-nhom">Nhóm</a></li>
        </ul>
    </nav>

    <article>
        <h1>Bui Nam Truong</h1>


    </article>
</section>

<footer>
    <p ">Copyright &copy; Bui Nam Truong - @DateTime.Now.Year</p>
</footer>
