@model GioHangViewModel
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Trang Thanh Toán</title>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
    }

    .container {
        margin: 0 auto;
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
        text-align: center;
    }

    label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
    }

    input[type="text"], input[type="tel"], input[type="number"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    button {
        background-color: #4CAF50;
        color: white;
        padding: 15px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
        font-size: 16px;
    }

        button:hover {
            background-color: #45a049;
        }
</style>
<div class="container">
    <h2>Thông tin Thanh Toán</h2>
    <form action="ThanhToan"  method="POST">
        <label for="name">Họ tên:</label>
        <input asp-for="HoaDon.Name" type="text" id="name" name="name" placeholder="Nhập họ tên" required>

        <label for="address">Địa chỉ:</label>
        <input asp-for="HoaDon.Address" type="text" id="address" name="address" placeholder="Nhập địa chỉ" required>

        <label for="phone">Số điện thoại:</label>
        <input  asp-for="HoaDon.PhoneNumber" type="tel" id="phone" name="phone" placeholder="Nhập số điện thoại" required>

        <label for="total">Tổng tiền:</label>
        <h1>@Model.HoaDon.Total.ToString("N0")</h1>

        <button type="submit">Đặt hàng</button>
    </form>
</div>

