@model IEnumerable<TheLoai>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Thể loại
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        @foreach (var item in Model)
        {
            <li><a class="dropdown-item" href="#">@item.Name</a></li>
        }
       
    </ul>
