﻿
@{
    ViewData["Title"] = "DangKy";
}
@model TaiKhoannViewModel
<div class="container">
    <h3>Đăng ký</h3>
    <form method="post">
        <label asp-for="Username">Username: </label>
        <input asp-for="Username" type="text" class="form-control" />

        <label asp-for="Password">Password: </label>
        <input asp-for="Password" type="text" class="form-control" />

        <label asp-for="Fullname">Fullname:</label>
        <input asp-for="Fullname" type="text" class="form-control"/>

        <label asp-for="Age">Age:</label>
        <input asp-for="Age" type="text" class="form-control" />

        <button type="submit" class="btn btn-primary">Đăng ký</button>

        @if (Model!=null)
        {
            <p>Username đã nhập là: @Model.Username</p>
            <p>Password sau mã hóa là: @Model.Password</p>
        }

    </form>
</div>
 